{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "presets": ["minify"],
      "plugins": [
        ["@babel/plugin-transform-runtime"],
        [
          "transform-react-remove-prop-types",
          {
            "mode": "remove",
            "removeImport": true,
            "ignoreFilenames": ["node_modules"]
          }
        ]
      ]
    }
  }
}
