.select-popup {
  z-index: 9;
}

.select-popup .ReactVirtualized__List {
  border: 1px solid lightgray;
  background: white;
}

.flat-virtualized-item div {
  cursor: pointer;
}

.flat-virtualized-item-focused div {
  font-weight: bold;
}

.grouped-virtualized-list-item div[role="option"]{
  cursor: pointer;
}