.select-popup {
  z-index: 9;
}

.select-popup .ReactVirtualized__List {
  border: 1px solid lightgray;
  background: white;
}

.flat-virtualized-item,
.grouped-virtualized-list-item {
  cursor: pointer;
  background-color: transparent;
  user-select: none;
  box-sizing: border-box;
  display: flex;
}

.flat-virtualized-item > div,
.grouped-virtualized-list-item > div {
  width: 100%;
  height: 100%;
}

.fast-option {
  padding-left: 1em;
  text-overflow: ellipsis;
  height: 100%;
}

.fast-option-focused {
  background-color: #deebff;
  user-select: none;
  box-sizing: border-box;
}

.fast-option-selected {
  background-color: rgb(38, 132, 255);
  user-select: none;
  box-sizing: border-box;
}

.grouped-virtualized-list-item div[role='option'] {
  cursor: pointer;
}

.fast-option-create {
  cursor: default !important;
}
